<p>
  Опубликовано
  {{ if ne .Site.Params.hide_author true }}
    {{ with .Params.author }}
     <span itemprop="author">{{ index . }}</span>
    {{ else }}
     <span itemprop="author">{{ .Site.Params.author }}</span>
    {{ end }}
  {{ end }}
  <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
    {{ dateFormat "2.01.2006" (default .Date (.PublishDate)) }}
  </time>
  {{ with .Params.categories }}
    in <span itemprop="articleSection">{{ delimit (apply (apply (sort .) "partial" "post/category-link.html" ".") "chomp" ".") ", " " and " }}</span>
  {{ end }}
  {{ with .Params.tags }}
   с тегами {{ delimit (apply (apply (sort .) "partial" "post/tag-link.html" ".") "chomp" ".") ", " " и " }}
  {{ end }}
</p>
<p>
	Потрачено <span itemprop="wordCount">{{ .WordCount }}</span> слов.
</p>
